/* Body */

body {
    background-color: white;
    text-align: center;
    font-family: 'Roboto', arial;
    display: flex;
    flex-direction: column;
}

html {
    scroll-behavior: smooth;
   }

/* Navbar */

.navbar {
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
    justify-content: space-between;
    flex-direction: row;
    background-color: #ffffff;
    text-transform: uppercase;
    text-decoration-line: none;
    
}

img {
    width: 80px;
    height: auto;
}

.header-links, .header-links-right, a{
    display: flex;
    gap: 40px;
    align-self: center;
    font-size: 16px;
    color: #5e5e5e;
    text-decoration-line: none;
    margin: 5px;
}
  
.second-nav {
    display: flex;
    gap: 120px;
    padding: 5px;
    justify-content: center;
    align-self: center;
    font-size: 14px;
    color: #5e5e5e;
    text-decoration-line: none;
    margin: 5px;
    border-top: #c5c3c3 solid 1px;
    border-bottom: #c5c3c3 solid 1px;
    width: 100%;
}


/* Hero */

.hero {
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
    justify-content: space-between;
    flex-direction: row;
    background-color: #ffffff;
    text-transform: uppercase;
}

/* Projects */

/* Sidebar */

/* Footer */


