/* Body */

body {
    background-color: white;
    text-align: center;
    font-family: 'Roboto', arial;
    display: flex;
    flex-direction: column;
}

html {
    scroll-behavior: smooth;
   }


/* Navbar */

.navbar {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-between;
    flex-direction: row;
    background-color: #ffffff;
    text-decoration-line: none;    
}

img {
    width: 100px;
    height: auto;
}

/* .site-search input {
    display: flex;
    margin-top: 21px;
    border-radius: 30px;
    min-height: 44px;
    min-width: 100px;
    padding-left: 20px;
    padding-top: 3px;
    border: 1px solid #777;
    font-size: 17.5px;
    padding-right: 3rem;
    height: 10%;
    width: 600px;
} */


.nosubmit {
   color: #5e5e5e;
   display: flex;
   padding: 0px;
   border: 1px solid #555;
   border-radius: 30px;
   margin: 20px 0px 16px;
   width: 650px;
 }
 
 input[type="search"] {
   border: none;
   background: transparent;
   margin-top: 10px;
   padding: 1px 10px;
   font-size: 17.5px;
   color: inherit;
   border: 1px solid transparent;
   border-radius: inherit;
 }
 
 input[type="search"]::placeholder {
   color: #8f8f8f;
 }
 
 button[type="submit"]:hover {
   opacity: 1;
 }
 
 button[type="submit"]:focus,
 input[type="search"]:focus {
   box-shadow: 0 0 3px 0 #e91e63;
   border-color: #e91e63;
   outline: none;
 }
 
 form.nosubmit {
  border: none;
 }
 
 input.nosubmit {
   border: 1px solid #555;
   width: 100%;
   padding: 9px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
 }


.header-links-left, .header-links-right, a{
    display: flex;
    gap: 10px;
    align-self: center;
    font-size: 18px;
    color: #5e5e5e;
    text-decoration-line: none;
    margin: 3px 30px;
}
  
.second-nav {
    display: flex;
    gap: 120px;
    padding: 8px;
    justify-content: center;
    align-self: center;
    font-size: 14px;
    color: #5e5e5e;
    text-decoration-line: none;
    margin-top: 5px;
    border-top: #c5c3c3 solid 1px;
    width: 100%;
}

/* Slider */

#slider {
   width: 100%;
   margin-bottom: 30px;
   max-width: 100%;
   text-align: center;
}
#slider input[type=radio] {
   display: none;
}
#slider label {
   cursor:pointer;
   text-decoration: none;
}

#overflow {
   overflow: hidden;
}

/* Direction */

#slide1:checked ~ #slides .inner {
   margin-left: 10;
}
#slide2:checked ~ #slides .inner {
   margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
   margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
   margin-left: -300%;
}

#slides .inner {
   transition: margin-left 600ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
   width: 400%;
   line-height: 0;
   height: 450px;
}

/* Words of Slides */

#slides .slide {
   width: 25%;
   float:left;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   color: rgb(255, 255, 255);
}

/* Words of Colours */

#slides .slide_1 {
   background: #cae7e6;
}
#slides .slide_2 {
   background: #ffecb7;
}
#slides .slide_3 {
   background: #f9d2e5;
}
#slides .slide_4 {
   background: #cfc8f6;
}

#slides .slide-content-1 p{
   font-weight: bold;
   font-size: 50px;
   color: #5e5e5e;
   line-height: 30px;
}

#slides h2 {
   font-weight: bold;
   line-height: 10px;
   font-size: 50px;
   color: #e91e63;
   text-transform: uppercase;
}

#slides .slide-content-2 p, h2 {
   font-weight: bold;
   font-size: 50px;
   line-height: 0px;
   color: #5e5e5e;
   line-height: 30px;
}

#slides .slide-content-3 p, h2 {
   font-weight: bold;
   font-size: 50px;
   color: #5e5e5e;
   line-height: 30px;
}

#slides .slide-content-4 p {
   font-weight: bold;
   font-size: 50px;
   color: #5e5e5e;
   line-height: 30px;
}


/* Buttons */

#controls {
   margin: -160px 0 0 0;
   width: 100%;
   height: 50px;
   z-index: 3;
   position: relative;
}
#controls label {
   transition: opacity 0.2s ease-out;
   display: none;
   width: 100%;
   height: 50px;
   opacity: .4;
}
#controls label:hover {
   opacity: 1;
}

#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1) {
   background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
   float:right;
   margin: 0 -50px 0 0;
   display: block;
}

#slide1:checked ~ #controls label:nth-last-child(2),
#slide2:checked ~ #controls label:nth-last-child(3),
#slide3:checked ~ #controls label:nth-last-child(4),
#slide4:checked ~ #controls label:nth-last-child(1) {
   background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
   float:left;
   margin: 0 0 0 -50px;
   display: block;
}

#bullets {
   margin: 150px 0 0;
   text-align: center;
}

#bullets label {
   display: inline-block;
   width: 14px;
   height: 14px;
   border-radius:100%;
   background: #ccc;
   margin: 0 10px;
}

/* Colour of Background */

#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
    background: #e91e63;
    width: 17px;
    height: 17px;
}


@media screen and (max-width: 900px) {
   #slide1:checked ~ #controls label:nth-child(2),
   #slide2:checked ~ #controls label:nth-child(3),
   #slide3:checked ~ #controls label:nth-child(4),
   #slide4:checked ~ #controls label:nth-child(1),
   #slide1:checked ~ #controls label:nth-last-child(2),
   #slide2:checked ~ #controls label:nth-last-child(3),
   #slide3:checked ~ #controls label:nth-last-child(4),
   #slide4:checked ~ #controls label:nth-last-child(1) {
      margin: 0;
   }
   #slides {
      max-width: calc(100% - 140px);
      margin: 0 auto;
   }
}

/* wtywl */

.branddeals p {
   display: block;
   font-size: 30px;
   font-weight: 400;
   color: #5e5e5e;
   padding: 10px;
   margin-top: 40px;
}

.box {
   display: flex;
   align-items: center;
   justify-content: center;
}

.three-box {
   display: flex;
   justify-content: center;
   text-align: center;
   margin: 50px 70px;
   flex-wrap: wrap;
   padding-top: 10px;
   width: 300px;
   height: 200px;
   border-radius: 10px;
   background-color: #f3f3f3;
   box-shadow: 3px 3px 10px -1px var(--my-shadow-color);
}

.bar{
   margin: auto;
   position: relative;
   margin: 0 auto;
   /*margin: 0px 62.7em; at 90% zoom*/
   width: 95px;
   height: 5px;
   background: linear-gradient(90deg,#e31b6d,#ee5595);
   border-radius: 5px;

}

:root {
   --my-shadow-color: #f3f3f3;
 }

/*.three-box p {
   color: #5e5e5e;
   display: block;
   text-align: center;
   flex-wrap: wrap;
   line-height: 25px;
   font-weight: 300;
   margin: 20px 40px;
}
*/

/* Footer */



